.register{
    width: 100vw;
    height: 100vh;
    background-color: #4A92D4;
    padding-top: 20vh;
}
.card{
    width: 30vw;
    min-width: 350px;
    margin: auto auto;
    background-color: white;
    padding: 3rem;
    text-align: right;
}
.heading{
    text-align: start;
}